@model MessageViewModel
@inject IUnitOfWork _uow

@{
    ViewData["Title"] = "Detail";
    var memberId = _uow.Member.GetIdByMember;
}

@section script{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>

        $(document).ready(function () {

            $(".type_msg").hide();
            var threadBtn = $('.threadBtn');
            threadBtn.on("click", function () {
                $('.msg_history').empty();
                var threadId = $(this).data("id");
                var friendId = $(this).data("friendid");

                var formData = new FormData();
                formData.append("threadId", threadId);
                formData.append("friendId", friendId);
                  $.ajax({
                url: "/admin/message/ThreadControl",

                type: "POST",
                data: formData,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (data) {
                    $(".type_msg").show();
                    $('.send-button').html("<button data-memberid='" + @memberId + "' data-threadid='" + data.message[0].threadId + "' class='msg_send_btn' type='button'><i class='fa fa-paper-plane-o' aria-hidden='true'></i></button>");
                    for (var i = 0; i < data.message.length; i++) {
                        if (data.message[i].memberId == @memberId) {
                            $('.msg_history').append("<div class='outgoing_msg my-message'><div class='sent_msg'><p> " + data.message[i].text + " </p><span class='time_date'> " + data.message[i].createDate + "</span></div></div>");
                        }
                        else {
                            $('.msg_history').append(
                                "<div class='incoming_msg'><div class='incoming_msg_img'><img src='" + "/admin/upload/" + data.threadImage + "' alt='profile'></div><div class='received_msg'><div class='received_withd_msg friend-message'><p> " + data.message[i].text + "</p><span class='time_date'> " + data.message[i].createDate + " </span></div></div></div>"
                            );
                        }
                    };
                    $(".msg_history").scrollTop($(".msg_history").height());

                    var writeMsg = $('.write_msg');
                    var messageSendBtn = $('.msg_send_btn');
                    messageSendBtn.on("click", function () {

                        var threadId = $(this).data("threadid");
                        var memberId = $(this).data("memberid");

                        var formData = new FormData();
                        formData.append("threadId", threadId);
                        formData.append("memberId", memberId);
                        formData.append("message", writeMsg.val());
                        console.log(formData)
                        $.ajax({
                            url: "/admin/message/SendMessage",
                            type: "POST",
                            data: formData,
                            dataType: "json",
                            contentType: false,
                            processData: false,
                            success: function (data) {
                                console.log(data);
                                writeMsg.val("");
                                setTimeout(function () { $('.msg_history').append("<div class='outgoing_msg my-message'><div class='sent_msg'><p> " + data.message + " </p><span class='time_date'>yeni tarih</span></div></div>").fadeIn().delay(2000); }, 200);
                                //setTimeout(function () { $(".msg_history").animate({ scrollTop: $('.msg_history').height() }, 1000); }, 250);

                            }
                        });

                    });
                }
            });
            });


            $('#member-search').on("click", function () {

                var searchText = $('input[name="q"]').val();
                console.log(searchText);

                var formData = new FormData();
                formData.append("searchText", searchText);
                $.ajax({
                    url: "/admin/message/searchMember",
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log(data);
                        console.log(data[0].data("friendId"));

                        console.log(friendId);
                        console.log(data[0].id);

                        $('.threadBtn').hide();

                    }
                });

            });
        });

    </script>
}
<!--main content start-->
<section class="my-section">
    <section class="my-wrapper">
        <h3 class="content-title"><i class="fa fa-angle-right"></i>Mesajlar</h3>
        <!-- row -->
        <div class="row my-content">
            <div class="col-md-12">
                <div class="content-panel">
                    <div class="messaging">
                        <div class="inbox_msg">
                            <div class="inbox_people">
                                <div class="headind_srch">
                                    <div class="recent_heading">
                                        <h4>Son Mesajlar</h4>
                                    </div>
                                    <div class="srch_bar">
                                        <div class="stylish-input-group">
                                            <input id="q" name="q" type="text" class="search-bar" placeholder="Ara">
                                            <span class="input-group-addon">
                                                <button id="member-search" type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="inbox_chat">
                                    <!--active_chat eklenecek. Okunmamış olanlara. .Substring(0, message.MessageDetail.IndexOf("."))-->
                                    @foreach (var thread in Model.Threads.Where(p => p.ReceiverMemberId.ToString() == _uow.Member.GetIdByMember))
                                    {
                                        <button data-id="@thread.Id" data-friendid="@thread.CreateMemberId" type="button" class="btn threadBtn chat_people">
                                            <div class="chat_img"> <img src="~/upload/@thread.Image" alt="sunil"> </div>
                                            <div class="chat_ib">
                                                <h5>@thread.Name @thread.Surname <span class="chat_date">@thread.CreateDate</span></h5>
                                                <p>
                                                    @{
                                                        var friendthread = _uow.Thread.GetByIdInView(thread.Id);
                                                        var otherThread = _uow.Thread.GetThreadByFriend(thread.ReceiverMemberId.ToString(), thread.CreateMemberId);

                                                        var message = _uow.Message.GetAll().Where(p => p.ThreadId == otherThread.Id || p.ThreadId == friendthread.Id).OrderBy(p => p.CreateDate);
                                                    }
                                                    @message.Last().Text
                                                </p>
                                            </div>
                                        </button>
                                    }
                                </div>
                            </div>
                            <div class="mesgs">
                                <div class="msg_history">
                                    <img class="msg-wallpaper" src="~/img/msg-history.jpg" />

                                </div>
                                <div class="type_msg">
                                    <div class="input_msg_write">
                                        <input type="text" class="write_msg" placeholder="Mesaj gönder" />
                                        <div class="send-button">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-center top_spac"> Design by <a target="_blank" href="#">Sunil Rajput</a></p>
                    </div>
                </div>
                <!-- /content-panel -->
            </div>
            <!-- /col-md-12 -->
        </div>
        <!-- /row -->
    </section>
</section>
<!--main content end-->
@section style{
    <style>
        .msg-wallpaper
        {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .container
        {
            max-width: 1170px;
            margin: auto;
        }

        img
        {
            max-width: 100%;
        }

        .inbox_people
        {
            background: #f8f8f8 none repeat scroll 0 0;
            float: left;
            overflow: hidden;
            width: 40%;
            border-right: 1px solid #c4c4c4;
        }

        .inbox_msg
        {
            border: 1px solid #c4c4c4;
            clear: both;
            overflow: hidden;
        }

        .top_spac
        {
            margin: 20px 0 0;
        }


        .recent_heading
        {
            float: left;
            width: 40%;
        }

        .srch_bar
        {
            display: inline-block;
            text-align: right;
            width: 60%;
        }

        .headind_srch
        {
            padding: 10px 29px 10px 20px;
            overflow: hidden;
            border-bottom: 1px solid #c4c4c4;
        }

        .recent_heading h4
        {
            color: #05728f;
            font-size: 21px;
            margin: auto;
        }

        .srch_bar input
        {
            border: 1px solid #cdcdcd;
            border-width: 0 0 1px 0;
            width: 80%;
            padding: 2px 0 4px 6px;
            background: none;
        }

        .srch_bar .input-group-addon button
        {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            padding: 0;
            color: #707070;
            font-size: 18px;
        }

        .srch_bar .input-group-addon
        {
            margin: 0 0 0 -27px;
        }

        .chat_ib h5
        {
            font-size: 15px;
            color: #464646;
            margin: 0 0 8px 0;
        }

            .chat_ib h5 span
            {
                font-size: 13px;
                float: right;
            }

        .chat_ib p
        {
            font-size: 14px;
            color: #989898;
            margin: auto
        }

        .chat_img
        {
            float: left;
            width: 11%;
        }

        .chat_ib
        {
            float: left;
            padding: 0 0 0 15px;
            width: 88%;
        }

        .chat_people
        {
            overflow: hidden;
            clear: both;
        }

        .chat_list
        {
            border-bottom: 1px solid #c4c4c4;
            margin: 0;
            padding: 18px 16px 10px;
        }

        .inbox_chat
        {
            height: 550px;
            overflow-y: scroll;
        }

        .active_chat
        {
            background: #ebebeb;
        }

        .incoming_msg_img
        {
            display: inline-block;
            width: 6%;
        }

        .received_msg
        {
            display: inline-block;
            padding: 0 0 0 10px;
            vertical-align: top;
            width: 92%;
        }

        .received_withd_msg p
        {
            background: #ebebeb none repeat scroll 0 0;
            border-radius: 3px;
            color: #646464;
            font-size: 14px;
            margin: 0;
            padding: 5px 10px 5px 12px;
            width: 100%;
        }

        .time_date
        {
            color: #747474;
            display: block;
            font-size: 12px;
            margin: 8px 0 0;
        }

        .received_withd_msg
        {
            width: 57%;
        }

        .mesgs
        {
            float: left;
            padding: 30px 15px 0 25px;
            width: 60%;
        }

        .sent_msg p
        {
            background: #05728f none repeat scroll 0 0;
            border-radius: 3px;
            font-size: 14px;
            margin: 0;
            color: #fff;
            padding: 5px 10px 5px 12px;
            width: 100%;
        }

        .outgoing_msg
        {
            overflow: hidden;
            margin: 26px 0 26px;
        }

        .sent_msg
        {
            float: right;
            width: 46%;
        }

        .input_msg_write input
        {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            color: #4c4c4c;
            font-size: 15px;
            min-height: 48px;
            width: 100%;
        }

        .type_msg
        {
            border-top: 1px solid #c4c4c4;
            position: relative;
        }

        .msg_send_btn
        {
            background: #05728f none repeat scroll 0 0;
            border: medium none;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
            font-size: 17px;
            height: 33px;
            position: absolute;
            right: 0;
            top: 11px;
            width: 33px;
        }

        .messaging
        {
            padding: 0 0 50px 0;
        }

        .msg_history
        {
            height: 516px;
            overflow-y: scroll;
        }
    </style>
}
